{% extends 'base.html' %}
{% load static %}
{% block title %}Página inicial - Market Place{% endblock %}

{% block content %}
<section class="section-content page-home">
    <div class="container">
        <h2>Seja bem vindo, {{ request.user }}! </h2>
        {% for category in categories %}

        <h3>{{ category.name }}:</h3>

        <div class="row">
            {% for product in category.products %}

            <div class="col-sm-6 col-md-3">
                <a href="{% url 'product_show' product.slug %}">
                    <div class="thumbnail">

                        {% if product.prod_images %}

                        <img src="{{ product.prod_images.first.images }}">
                        {% else %}

                        <img src="{% static " img/sem-imagem.jpg" %}">
                        {% endif %}

                        <div class="caption">
                            <h3>{{ product.name|truncatechars:30 }}</h3>
                            <p>R$ {{ product.price }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% endfor %}

    </div>
</section>
{% endblock %}